#actionset {
	width: 100%;
	max-height: 40vh;
	background-color: white;
	display: table;
}

.action {
	box-sizing: border-box;
	display: table-cell;
	width: auto;
	border: 1vh solid black;
	height: 100%;
	padding: 2vh;

	background-color: white;
	color: black;

	font-size: 4vh;
	font-family: "Roboto", sans-serif;
	text-align: center;

	overflow-y: hidden;
}

.action.cursored {
	background-color: blue;
	color: white;
}
