#actionset {
	width: 100%;
	max-height: 40vh;
	background-color: red;
	display: table;
}

.action {
	box-sizing: border-box;
	display: table-cell;
	width: auto;
	border: 1vh solid white;
	height: 100%;
	padding: 2vh;

	background-color: black;
	color: white;

	font-size: 5vh;
	font-family: "Roboto", sans-serif;
	text-align: center;

	overflow: hidden;
}

.action.cursored {
	background-color: white;
	color: black;
}
